.body{
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 500px));
    grid-gap: 5px;
    justify-content: space-around;
}

.card{
    background-color: antiquewhite;
    border-radius: 10px;
    width:250px;
    height: auto;
    margin: 10px;
    padding: 20px;
}

.img{

border-radius: 50%;
border: 3px solid ;
/* src: "images/chola.jpg"; */
/* src: "logo192.png"; */
alt:"al";
width: 120px;
height: 130px;
margin-left: 50px;
margin-right: 50px;


}

.card-name{
    
    color: grey;
    
}

.card-button{
    background-color: brown;
    color: white;
    margin-left: 75px;
    margin-right: 75px;
    /* width: 100px; */
    /* text-size-adjust: 300px; */

}

.style{

    display: flex;
}
